body {
    background-color: black;
    color: #fbfbfb;
    font-family: 'Familjen Grotesk', sans-serif;
    margin: 0;
}

.head {
    border-bottom: 3px solid;
}

.head-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}
